# Experiment learning with TTF Patterns

aoac

peaks

ttf

In [1]:



import ptottf

In [2]:
i="SPX500";t="D1"
use_full=True
aoac=ptottf.read_ttf_csv(i,t,use_full=use_full,midfix="aoac")
peaks=ptottf.read_ttf_csv(i,t,use_full=use_full,midfix="peaks")
ttf=ptottf.read_ttf_csv(i,t,use_full=use_full,midfix="ttf")

   Read TTF:  /var/lib/jgt/full/data/ttf/SPX500_D1_aoac.csv
   Read TTF:  /var/lib/jgt/full/data/ttf/SPX500_D1_peaks.csv
   Read TTF:  /var/lib/jgt/full/data/ttf/SPX500_D1_ttf.csv

In [3]:
aoac.tail(3)

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,...,mfi_sq,mfi_green,mfi_fade,mfi_fake,mfi_sig,mfi_str,ao_M1,ac_M1,ao_W1,ac_W1
Date,,,,,,,,,,,,,,,,,,,,,
2024-07-09 21:00:00,5586.45,5644.83,5585.01,5638.88,5587.05,5645.33,5585.61,5639.28,40916,5586.75,...,0,0,0,1,2,-+,0.829809,0.659045,0.857487,0.11787
2024-07-10 21:00:00,5638.88,5661.98,5584.52,5594.57,5639.28,5662.58,5585.02,5594.97,121019,5639.08,...,1,0,0,0,1,+-,0.829809,0.659045,0.857487,0.11787
2024-07-11 21:00:00,5594.57,5597.35,5592.36,5592.60,5594.97,5597.95,5592.96,5593.20,627,5594.77,...,0,0,0,1,2,-+,0.829809,0.659045,0.857487,0.11787

In [4]:
peaks.tail(3)

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,...,mfi_sig,mfi_str,price_peak_above_M1,price_peak_bellow_M1,ao_peak_above_M1,ao_peak_bellow_M1,price_peak_above_W1,price_peak_bellow_W1,ao_peak_above_W1,ao_peak_bellow_W1
Date,,,,,,,,,,,,,,,,,,,,,
2024-07-09 21:00:00,5586.45,5644.83,5585.01,5638.88,5587.05,5645.33,5585.61,5639.28,40916,5586.75,...,2,-+,0,0,0,0,0,0,0,0
2024-07-10 21:00:00,5638.88,5661.98,5584.52,5594.57,5639.28,5662.58,5585.02,5594.97,121019,5639.08,...,1,+-,0,0,0,0,0,0,0,0
2024-07-11 21:00:00,5594.57,5597.35,5592.36,5592.60,5594.97,5597.95,5592.96,5593.20,627,5594.77,...,2,-+,0,0,0,0,0,0,0,0

In [5]:
ttf.tail(3)

,BidOpen,BidHigh,BidLow,BidClose,AskOpen,AskHigh,AskLow,AskClose,Volume,Open,...,mfi_fade,mfi_fake,mfi_sig,mfi_str,mfi_sig_M1,zone_sig_M1,ao_M1,mfi_sig_W1,zone_sig_W1,ao_W1
Date,,,,,,,,,,,,,,,,,,,,,
2024-07-09 21:00:00,5586.45,5644.83,5585.01,5638.88,5587.05,5645.33,5585.61,5639.28,40916,5586.75,...,0,1,2,-+,2,0,0.829809,2,1,0.857487
2024-07-10 21:00:00,5638.88,5661.98,5584.52,5594.57,5639.28,5662.58,5585.02,5594.97,121019,5639.08,...,0,0,1,+-,2,0,0.829809,2,1,0.857487
2024-07-11 21:00:00,5594.57,5597.35,5592.36,5592.60,5594.97,5597.95,5592.96,5593.20,627,5594.77,...,0,1,2,-+,2,0,0.829809,2,1,0.857487

In [6]:
#print ttf columns types
print(ttf.dtypes)

BidOpen        float64
BidHigh        float64
BidLow         float64
BidClose       float64
AskOpen        float64
                ...
zone_sig_M1      int64
ao_M1          float64
mfi_sig_W1       int64
zone_sig_W1      int64
ao_W1          float64
Length: 76, dtype: object

In [7]:
ttf.columns

Index(['BidOpen', 'BidHigh', 'BidLow', 'BidClose', 'AskOpen', 'AskHigh',
       'AskLow', 'AskClose', 'Volume', 'Open', 'High', 'Low', 'Close',
       'Median', 'ao', 'ac', 'jaw', 'teeth', 'lips', 'bjaw', 'bteeth', 'blips',
       'tjaw', 'tteeth', 'tlips', 'fh', 'fl', 'fh3', 'fl3', 'fh5', 'fl5',
       'fh8', 'fl8', 'fh13', 'fl13', 'fh21', 'fl21', 'fh34', 'fl34', 'fh55',
       'fl55', 'fh89', 'fl89', 'mfi', 'fdbb', 'fdbs', 'fdb', 'aoaz', 'aobz',
       'zlc', 'zlcb', 'zlcs', 'zcol', 'zone_sig', 'sz', 'bz', 'acs', 'acb',
       'ss', 'sb', 'price_peak_above', 'price_peak_bellow', 'ao_peak_above',
       'ao_peak_bellow', 'mfi_sq', 'mfi_green', 'mfi_fade', 'mfi_fake',
       'mfi_sig', 'mfi_str', 'mfi_sig_M1', 'zone_sig_M1', 'ao_M1',
       'mfi_sig_W1', 'zone_sig_W1', 'ao_W1'],
      dtype='object')

In [8]:
#convert_col_to_int